.foot{
    display: flex;
    justify-content: start;
}

.fail{
    height: 400px;
    width: 500px;
  
  }
  .major{
    margin-left: 10em;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    
    
  }
  .beta{
    font-size:25px ;
    padding: 7px;


  }