.paper1{
    background-image: url("https://media.istockphoto.com/id/1316048214/photo/doctor-sitting-at-table-and-typing-on-computer-keyboard-closeup.jpg?s=612x612&w=0&k=20&c=zM-KEnyOtT9jigOmYPIsGMWCrSEhD_J4OITff7DbmMQ=");
    background-repeat: no-repeat;
    background-size: cover;
    
}